if apis != ''
    div.col-xs-12
        ul.timeline
            each data, index in apis
                li
                    div.timeline-badge.danger
                        i.fa.fa-code.fa-lg
                    div.timeline-panel(style="margin-left: 15px;", ng-model="item#{index}", ng-init="item#{index}=false")
                        div.timeline-heading(style="padding-top: 5px;")
                            div.row
                                div.col-xs-8
                                    h4.media-heading= data.name
                                    p(style="font-size: 11px;")= data.created
                                        a(ng-click="isShown('item#{index}', item#{index})", style="cursor: pointer;") &nbsp; 
                                            span= __('See API description')
                                div.col-xs-4.pull-right
                                    span.btn.btn-primary.btn-xs.pull-right(ng-click="goToApi('#{data._id}')", style="margin-left: 10px;")= __('Go to API')
                                    span.btn.btn-primary.btn-xs.pull-right(ng-click="selectGraph('#{data._id}')")= __('Generate graph')
                        div.timeline-body.desc-show-hide(ng-show="item#{index}")
                            p= data.description
else
    div.col-xs-12
        div.alert.alert-warning            
            h4= __('Opsss')
            p= __("No API's available")