style.
	body {
		overflow-y: scroll;
	}

#navbar-grid.navbar.navbar-custom.navbar-fixed-top(role='navigation')
		.container
			div#inputs.row
				div.col-xs-12
					div.pull-left.mt8(ng-repeat="inpt in inputs", style="margin-bottom: 5px")
						form.form-inline(ng-show="show_inputs == inpt", inpt="{{inpt}}")
							div.form-group
								label.sr-only Column name
								input.title.form-control(type="text", placeholder="Column name")
							div.form-group.ml7
								label.sr-only Column type
								select.type.form-control()
									option(value="text") Text
									option(value="number") Number
					div.pt14.pull-left(ng-if="inputs.length == 0 || !inputs")
						b.text-success Select the columns you want
					div#badges.pull-left.pt6.mt8
						span.badge.btn(ng-repeat="inpt in inputs", ng-click="visible_input(inpt)", ng-class="show_inputs == inpt ? 'active' : '' ") {{ inpt }}
					div.btn.btn-success.pull-right.mt8(ng-click="openModal()", ng-class="inputs.length > 0 ? '': 'disabled' ")= __('Save your API')



div.row
	div.col-xs-12
		div.panel-group.panel-group-lists.collapse.in#accordion
			div.panel.sheet(ng-repeat="sheet in grid.data", sheet="{{sheet.$$hashKey}}")
				div.panel-heading
					div.panel-title
						a.collapsed.sheet-name(data-toggle="collapse" data-parent="#accordion" href="#{{sheet.$$hashKey}}")
							| {{sheet.sheet}}

				div(id="{{sheet.$$hashKey}}").panel-collapse.collapse
					div.panel-body
						//- div.btn.btn-default.pull-right(ng-click="check($event.currentTarget)") Select all sheets
						div.clearfix
						br
						div.table-responsive(style="overflow-y: auto;")
							table.panel-body.table.table-hover.table-bordered
								thead
									tr.badges
										td
										td(ng-repeat="col in sheet.raw[0] track by $index", index="{{$index}}")
											input.hide(type="checkbox", ng-click="check_row($event.currentTarget)")
											span.badge.btn(ng-click="check_row($event.currentTarget)") {{ $index }}
								tbody
									tr(ng-repeat="row in sheet.raw")
										td
											input.hide.check_row.check_col(type="checkbox")
											span.glyphicon.glyphicon-unchecked.check_col(ng-click="check_col($event.currentTarget)")
										td(ng-repeat="col in row track by $index", index="{{$index}}") {{col}}
div.row#loading
	div.col-md-6.col-md-offset-3.col-xs-12
		div.alert.alert-success
			p We are 
				b preparing your data...
			p Please be patient.



div#api_modal.modal.fade
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title= __('Save your API')
			div.modal-body
				div.form-group
					label API name
					input#api_name.form-control(type="text", placeholder="API name")
				div.form-group
					label API description
					textarea#api_desc.form-control(placeholder="API description")
			div.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") Close
				button.btn.btn-primary.save-api-btn(ng-click="save()") Save your API
