.graph
	.graph_title
		h3 {{graph_title}}
	.graph_body
		#chart
		.graph_description
			p {{api_description}}

.getwidget
	span.btn.btn-primary.btn-xs(ng-click='conf=!conf')= __('Get this widget')

	.configurator.row(ng-show='conf')
		div.col-xs-6
			.panel.panel-default.getpanel
				.panel-body
					.measures
						div.row
							div.col-xs-12.col-md-4
								label(class="w" for="w") Width
								input(type="text" class="form-control" maxlength="4" size="4" name="v_width" ng-model='v_width')
							div.col-xs-12.col-md-4
								label(class="h" for="h") Height
								input(type="text" class="form-control" maxlength="4" size="4" name="v_height" ng-model='v_height')
							div.col-xs-12.col-md-4
								label(class="h" for="h") &nbsp;
								span.btn.btn-primary.btn-block(ng-click="changeHtmlCode()")= __('Apply')

					p(class="code")
						textarea(onclick="this.focus();this.select()" class="form-control" cols="30" rows="5" readonly="readonly" name="HTMLblock" ng-model='HTMLblock')
