div.col-xs-12
    .row
        each val in [__('Pie Chart'), __('Donut Chart'), __('Bar Chart'), __('Area Chart'), __('Line Chart'), __('Spline Chart'), __('Scatter Plot')]
            .col-xs-6.col-md-3
                .thumbnail
                    if val == 'Pie Chart'
                        a(ng-click="generateGraph(1)", style="cursor: pointer;"): img(src='/images/' + val + '.png', alt='...')
                    else if val == 'Donut Chart'
                        a(ng-click="generateGraph(2)", style="cursor: pointer;"): img(src='/images/' + val + '.png', alt='...')
                    else if val == 'Bar Chart'
                        a(ng-click="generateGraph(3)", style="cursor: pointer;"): img(src='/images/' + val + '.png', alt='...')
                    else
                        img(src='/images/' + val + '.png', alt='...')
                    .caption
                        h3= val
                        if val == 'Pie Chart'
                            span.btn.btn-primary.btn-block(ng-click="generateGraph(1)")= __('Select')
                        else if val == 'Donut Chart'
                            span.btn.btn-primary.btn-block(ng-click="generateGraph(2)")= __('Select')
                        else if val == 'Bar Chart'
                            span.btn.btn-primary.btn-block(ng-click="generateGraph(3)")= __('Select')
                        else
                            a.btn.btn-primary.btn-block(href='#', disabled)= __('Select')