extends layout 

append htmltag
    html(i18n-locale=i18n.getLocale())    

block content
    div.ng-cloak(ui-view="main_content", ng-cloak)
        div.row(ng-controller="MainController")
            div.col-xs-12.col-md-offset-2.col-md-8(style="margin-top: 30px;")
                div.alert.alert-info.parse-dialog(style="position: absolute; top: 50%;")
                    div.input-group.input-group-lg
                        input.form-control(type="text", placeholder="#{__('Insert an URL to parse')}", ng-model="parsefield")
                        span.input-group-btn
                            button.btn.btn-primary(type="button", ng-click="parse()")= __('Feels the magic !!')