if raw_data != ''
    div.col-xs-12
        ul.timeline
            each data, index in raw_data
                li
                    div.timeline-badge.warning
                        a(ui-sref="raw_list_detail({id: '#{data._id}'})", style="color: #FFF;")
                            i.fa.fa-file-excel-o.fa-lg
                    div.timeline-panel(style="margin-left: 15px;", ng-model="item#{index}", ng-init="item#{index}=false")
                        div.timeline-heading(style="padding-top: 5px;")
                            div.row
                                div.col-xs-8
                                    h4.media-heading
                                        a(ui-sref="raw_list_detail({id: '#{data._id}'})", style="color: #434a54;")= data.file
                                    p(style="font-size: 11px;")= data.created
                                        a(ng-click="isShown('item#{index}', item#{index})", style="cursor: pointer;") &nbsp; 
                                            span= __('See full url')
                                div.col-xs-4.pull-right
                                    a(ui-sref="raw_list_detail({id: '#{data._id}'})")
                                        span.btn.btn-primary.btn-xs.pull-right= __('Make a cool API')
                        div.timeline-body.desc-show-hide(ng-show="item#{index}")
                            p= data.source
                        
else
    div.col-xs-12
        div.alert.alert-warning            
            h4= __('Opsss')
            p= __('No raw data available')