div#chat-header
    div.chat-name.pull-left
    div.chat-buttons
        span.glyphicon.glyphicon-remove(ng-click="close()")
div#chat-container
    div#chat-content
        //- div.room(room="room1")
        //-     div.chat-message-me
        //-         img.img-circle(src="http://pickaface.net/includes/themes/clean/img/slide2.png")
        //-         div.chat-message
        //-             | Bootstrap has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.
        //-     div.chat-message-other
        //-         img.img-circle(src="http://www.oroklinidesign.com/wp-content/uploads/2013/04/59593_448873375179894_887317911_n.jpg")
        //-         div.chat-message
        //-             | Bootstrap has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.
        //-     div.chat-message-other
        //-         img.img-circle(src="http://pickaface.net/includes/themes/clean/img/slide4.png")
        //-         div.chat-message
        //-             | Bootstrap has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.
    div#chat-text
        input.form-control(type="text", ng-enter="send()", ng-model="chatText")
div#chat-users
    ul.chat-users
        //- li.chat-user(ng-click="chatWith($event.currentTarget)", uid="123")
        //-     img.img-circle(src="http://pickaface.net/includes/themes/clean/img/slide4.png")
        //-     br
        //-     span username
        //-     span.badge 34