extend index
block adm-title 
    = __('Customize your style')
block adm-content
    div(ng-controller="AdminStyleController")
        form(name="styleForm", method="post", ng-submit="validator()", novalidate)
            label Nombre del tema:
            input(type="text", name="name", ng-model="formData.name" dctype)
            label {{ errors.name }}
            br
            label Variable color A:
            input(type="color", name="vara", ng-model="formData.vara" dctype)
            label {{ errors.vara }}
            br
            label Textarea A:
            textarea(type="text", name="texta", ng-model="formData.texta" dctype)
            label {{ errors.texta }}
            br
            label select A:
            select(type="text", name="selecta", ng-model="formData.selecta" dctype)
                option(value="optiona") Optiona
                option(value="optionb") Optionb
            label {{ errors.selecta }}
            br
            label Variable color B:
            input(type="color", name="varb", ng-model="formData.varb" dctype)
            label {{ errors.varb }}
            br
            label Variable color C:
            input(type="color", name="varc", ng-model="formData.varc" dctype)
            label {{ errors.varc }}
            br
            label Variable color D:
            input(type="text", name="vard", ng-model="formData.vard" dctype)
            label {{ errors.vard }}
            br
            label Variable color E:
            input(type="text", name="vare", ng-model="formData.vare" dctype)
            label {{ errors.vare }}
            br
            label Variable color F:
            input(type="text", name="varf", ng-model="formData.varf" dctype)
            label {{ errors.varf }}
            br
            input(type="submit", value="Submit")
        span {{ error }}