div.row
    div.col-md-3.col-xs-12
        if modules.length > 0
            div.col-xs-12(ng-repeat="module in modules_availabled")
                div.col-xs-12(data-drop="true", ng-model='modules_availabled', jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(modules_availabled[$index], null, null)'}", style="height:40px;border:3px dotted #AAA;border-radius:5px 5px;")
                    div.btn.btn-info.btn-block(data-drag="true", data-jqyoui-options="{revert: 'invalid'}" ng-model="modules_availabled" jqyoui-draggable="{index:{{$index}}, placeholder:true, onStart:'startCallback(module, $index)'}" ng-hide="!module.name") {{module.name}}
        else
            div.alert.alert-warning
                span= __('No modules availables')

    div.col-md-9.col-xs-12
        div.row
            div.col-md-12(style="min-height:30px;background-color:#999;")
            div.col-md-12(style="min-height:80px;background-color:#AAA;")
            div.col-md-8.left-column(style="background-color:#CCC;")
                div.row
                    div.col-xs-12(ng-repeat="module in modules_enabled_left")
                        div.row
                            div.col-xs-12(data-drop="true", ng-model='modules_enabled_left', jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(modules_enabled_left[$index], $index, 1)'}", style="height:40px;border:3px dotted #AAA;border-radius:5px 5px;")
                                div.btn.btn-info.btn-block(ng-show="modules_enabled_left[$index].name", name="{{modules_enabled_right[$index].name}}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}", ng-model="modules_enabled_left", jqyoui-draggable="{index:{{$index}}, placeholder:true}") {{modules_enabled_left[$index].name}}
            div.col-md-4.right-column(style="background-color:#DDD;")
                div.row
                    div.col-xs-12(ng-repeat="module in modules_enabled_right")
                        div.row
                            div.col-xs-12(data-drop="true", ng-model='modules_enabled_right', jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(modules_enabled_right[$index], $index, 2)'}", style="height:40px;border:3px dotted #AAA;border-radius:5px 5px;")
                                div.btn.btn-info.btn-block(ng-show="modules_enabled_right[$index].name", name="{{modules_enabled_right[$index].name}}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}", ng-model="modules_enabled_right", jqyoui-draggable="{index:{{$index}}, placeholder:true}") {{modules_enabled_right[$index].name}}