div.row
    div.col-md-12
        ul
            each module in modules
                li
                    div.checkbox
                        label= module.name
                            input(type="checkbox", checked=module.enabled, ng-click="toggle_module('#{module.name}', #{module.enabled})")