block header
    div.modal.fade(id="main-modal")
        div.modal-dialog
            div.modal-content
                form(role='form', action="/accounts/signup", method="post")
                    div.modal-header
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                        h4.modal-title= __('Signup')
                    div.modal-body
                        .form-group
                            label Usuario
                            input.form-control(type='text', name="username", placeholder='Enter Username')
                        .form-group
                            label Contraseña
                            input.form-control(type='password', name="password", placeholder='Password')
                    div.modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Submit

    .navbar.navbar-custom(role='navigation')
        .container
            .navbar-header
                button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
                    .span(class='sr-only') Toggle navigation
                    .span(class='icon-bar')
                    .span(class='icon-bar')
                    .span(class='icon-bar')
                a.navbar-brand(ui-sref="/") EASYOD
            .collapse.navbar-collapse
                ul.nav.navbar-nav.main-menu
                    li(ui-sref-active="active")
                        a(ui-sref="/")= __('Home')
                    each module in modules
                        each section in sections
                            if section.real_name == module.name
                                if section.sections
                                    each s in section.sections
                                        li(ui-sref-active="active")
                                            a(ui-sref=s.route)= s.name
                                    else
                                        a(ui-sref='#{section.real_name}')= __(section.name)
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/opendata/launch", style="font-size: 20px;")
                            span.label.label-success= __('See our presentation')