div.row

    div.col-md-12.col-xs-12
        div.row
            each highlight_left in highlights_left
                div.col-xs-12
                    div(ng-include="'#{highlight_left.route}'")
    div.col-md-12.col-xs-12
        div.row
            each highlight_right in highlights_right
                div.col-xs-12
                    div(ng-include="'#{highlight_right.route}'")