doctype html
block htmltag
    html
        head
            title EasyOD
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')

            // Styles files
            link(rel="stylesheet", href='/vendor/bootstrap/css/bootstrap.min.css')
            link(rel="stylesheet", href='/vendor/bootflat/css/bootflat.min.css')
            link(rel="stylesheet", href='/vendor/font-awesome-4.1.0/css/font-awesome.css')                
            link(rel='stylesheet', href='/stylesheets/style.css')
            //- link(rel='stylesheet', href='/stylesheets/pie_chart_style.css')
            link(rel='stylesheet', href='/stylesheets/c3.css')

            // Custom styles
            each styleFile in styleFiles
                link(rel='stylesheet', href= styleFile)

            // JavaScripts files
            script(type='text/javascript', src="/vendor/jquery/jquery.js")
            script(type='text/javascript', src="/vendor/jquery/jquery-ui-1.10.4.min.js")
            script(type='text/javascript', src="/socket.io/socket.io.js")
            script(type='text/javascript', src="/vendor/underscore/underscore-min.js")
            script(type='text/javascript', src="/vendor/angular/angular.js")
            script(type='text/javascript', src="/vendor/angular/angular-resource.js")
            script(type='text/javascript', src="/vendor/angular/angular-route.js")
            script(type='text/javascript', src="/vendor/misc/i18n-node-angular.js")
            //- script(type='text/javascript', src="/vendor/angular/ui-bootstrap-tpls-0.10.0.js")
            script(type='text/javascript', src="/vendor/angular/angular-dragdrop.js")
            script(type='text/javascript', src="/vendor/angular/angular-ui-router.min.js")
            script(type='text/javascript', src="/vendor/d3/d3.min.js")
            script(type='text/javascript', src="/vendor/d3/d3.tip.js")
            script(type='text/javascript', src="/vendor/c3/c3.min.js")
            script(type='text/javascript', src="/vendor/bower_components/sonic/src/sonic.js")
        body
            include header
            .container
                .row
                    #wrapper.col-xs-12
                        #content
                            block content
                        block widgets
            block footer

            block scripts
                script(type='text/javascript', src="/javascripts/core/app.js")
                script(type='text/javascript', src="/javascripts/core/controllers/main_controller.js")
                //- script(type='text/javascript', src="/javascripts/core/controllers/accounts_controller.js")
                script(type='text/javascript', src="/javascripts/core/controllers/admin_controller.js")                
                script(type='text/javascript', src="/javascripts/core/routes/index.js")
                //- script(type='text/javascript', src="/javascripts/core/routes/accounts.js")
                script(type='text/javascript', src="/javascripts/core/routes/admin.js")
                script(type='text/javascript', src="/javascripts/core/directives/ng_type.js")
                //- script(type='text/javascript', src="/javascripts/core/directives/ng_permission.js")
                script(type='text/javascript', src="/javascripts/core/services/permission_service.js")
                script(type='text/javascript', src="/javascripts/core/services/rest_service.js")
                script(type='text/javascript', src="/javascripts/core/services/socketio_service.js")
                //- TODO: Check if this JS file is needed if ui-bootstrap-tpls is loaded
                script(type='text/javascript', src="/vendor/bootstrap/js/bootstrap.js")

                //Analytics
                script(type='text/javascript', src="/javascripts/analyticstracking.js")                               

                // Custom javascripts
                each jsFile in jsFiles
                    script(type='text/javascript', src= jsFile)
                
