#chat {
    position: fixed;
    right: 4px;
    bottom: 4px;
    border-radius: 4px;
    box-shadow: 0 0 6px #586771;
}

#chat-header {
    width: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #73aec6;
    padding: 4px;
}

#chat-header > .chat-buttons {
    text-align: right;
}

#chat-container {
    width: 200px;
    height: 300px;
    float: left;
    background-color: white;
}

#chat-content {
    overflow-y: scroll;
    padding: 8px;
    height: 266px;
}

#chat-text {
    position: absolute;
    bottom: 0;
    width: 200px;
}

#chat-content .chat-message-me > .chat-message,
#chat-content .chat-message-other > .chat-message {
    background-color: #eee;
    margin-bottom: 7px;
    display: table;
}

#chat-content .chat-message-me > img {
    width: 50px;
    float: right;
}

#chat-content .chat-message-other > img {
    width: 50px;
    float: left;
}

#chat-users {
    width: 100px;
    height: 300px;
    float: left;
    background-color: #586771;
    overflow-y: scroll;
}
#chat-users::-webkit-scrollbar,
#chat-content::-webkit-scrollbar {
    display: none;
}

#chat-users > ul.chat-users {
    list-style: none;
    padding-left: 0;
}

#chat-users > ul.chat-users > li.chat-user {
    border-bottom: 1px solid #6F7A83;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    position: relative;
}

#chat-users > ul.chat-users > li.chat-user.active {
    background-color: #6F7A83;
    background-image: url(http://dalmatianrentsscba.com/Images/Triangle3.png);
    background-position: left center;
    background-repeat: no-repeat;
}

#chat-users > ul.chat-users > li.chat-user:hover {
    background-color: #6F7A83;
}

#chat-users > ul.chat-users > li.chat-user:last-child {
    border-bottom: 0;
}

#chat-users > ul.chat-users > li.chat-user > img {
    width: 50px;
}

#chat-users > ul.chat-users > li.chat-user > span.badge {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #FF2525;
}