/*html { 
    background: url(http://linewalls.com/wp-content/uploads/2014/04/computers-blue-background-3-wallpaper-hd-download-ford-racing-blue-background-3x5-flag-30-blue-background-road-sign-blue-background-3d.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    top: 40px;
    background: url(http://linewalls.com/wp-content/uploads/2014/04/computers-blue-background-3-wallpaper-hd-download-ford-racing-blue-background-3x5-flag-30-blue-background-road-sign-blue-background-3d.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

body {
    top: 40px;
    background-color: #F5F7FA;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.configurator {
    transition: .5s linear all;
    overflow: hidden;
}

.configurator.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.getwidget > span {
    margin-bottom: 10px;
}

/*.getpanel{
    width: 350px;
}*/

/*.measures {
    display: inline-block;
}

.measures > label {
    width: auto;
    float: left;
    margin-left: 5px;
    padding-top: 5px;
}

.measures > input {
    width: auto;
    float: left;
    display: inline-block;
    margin-left: 5px;
}

.measures > span {
    display: inline-block;
    width: 69px;
    margin-left: 10px;
}*/

.code > textarea {
    margin-top: 10px;
}


.graph_description {
    margin: 10px;
    padding: 5px;
    border-top: 1px solid #e6e9ed;
}

.navbar-custom .navbar-toggle {
position: relative;
background-color: #50c1e9;
border-color: #50c1e9;
}

.navbar-custom .navbar-toggle .icon-bar {
background-color: rgba(255,255,255,.9);
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.navbar-custom {
    background-color: #FFF;
    border-color: #FFF;
}

.navbar-custom a {
    color: #3BAFDA;
    line-height: 18px !important;
}

.navbar-custom a:hover {
    background-color: #FFF !important;
}

ul.main-menu li.active {
    border-bottom: 3px solid #3BAFDA;
}

.carousel {
    margin-bottom: 20px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
    /*height: 300px;*/
}

.media-heading {
    cursor: pointer;
}

.parse-btn>canvas {
    margin-top: -3px;
}

/* 
 * Raw data timeline
 */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    /*left: 50%;*/
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 100%;
    float: left;
    padding: 20px;
    position: relative;
}

.timeline > li > .timeline-badge {
    /*position: absolute;
    top: 16px;
    margin-left: -25px;
    z-index: 100;*/

    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    /*left: 50%;*/
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    font-weight: 200;
    word-wrap: break-word;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.desc-show-hide.ng-hide-add, .desc-show-hide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}

.desc-show-hide.ng-hide-add.ng-hide-add-active,
.desc-show-hide.ng-hide-remove {
  opacity: 0;
}

.desc-show-hide.ng-hide-add,
.desc-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}