body {
    background-color: transparent;
}

.widget 
{
    position: relative;
    /*margin: 15px 0;*/
    padding: 5px 19px 1px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*height: 400px;*/
}

.f_widget {
	border-top: 1px solid #bbb;
    padding: 5px 0px 5px;
    height: 50px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.navbar-brand {
    padding: 0px;
}