doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=1024")
        meta(name="apple-mobile-web-app-capable", content="yes")
        title EasyOD
        
        meta(name="description", content="EasyOD is a powerful tool that transforms bad-distributed open data (XLS, CSV) or any data in a well-formed public API in JSON")
        meta(name="author", content="EasyOD team")

        link(href='http://fonts.googleapis.com/css?family=Roboto:400,100', rel='stylesheet', type='text/css')

        
        link(href="/vendor/misc/impress.css", rel="stylesheet")

    body(class="impress-not-supported")

        div.fallback-message
            p Your browser bdoesn't support the features required/b by impress.js, so you are presented with a simplified version of this presentation.
            p For the best experience please use the latest 
                b Chrome, 
                b Safari 
                span or 
                b Firefox
                span browser.

        div#impress

            div#step-1.step(data-x="0", data-y="0", data-scale="2")
                span.try
                    strong EasyOD 
                    span is a powerful tool that transforms bad-distributed open data (XLS, CSV) or any data in a well-formed public API in JSON

            div#step-2.step(data-x="850", data-y="3000", data-rotate="90", data-scale="2")
                p Their interface is very easy and clear, you only should specify a URL (XLS or CSV source) and 
                    strong feeling the magic

            div#step-3.step(data-x="3500", data-y="2100", data-rotate="180", data-scale="2")
                p When the data have been parsed by 
                    b EasyOD

            div#step-4.step(data-x="2950", data-y="1500", data-z="-5000", data-rotate="400", data-scale="1")
                p you can manipulate it with a 
                    i simple and easy 
                    span process

            div#step-5.step(data-x="6700", data-y="-300", data-scale="2")
                p Once you defined the data that you want extract, 
                    b EasyOD 
                    span generates a public API that can be accessed by everybody in anywhere

            div#step-6.step(data-x="6300", data-y="2000", data-rotate="20", data-scale="2")
                p One of 
                    b EasyOD's 
                    span more powerful features are the graphs, any public data can be represented in a interactive graphic 
                    b in real time

            div#step-7.step(data-x="6000", data-y="4000", data-scale="2")
                p
                    b EasyOD 
                    span has a lot of graphics and ...

            div#step-8.step(data-x="6200", data-y="4300", data-z="-100", data-rotate-x="-40", data-rotate-y="10", data-scale="2")
                p Any 
                    span.have graphic &nbsp;
                    span can be &nbsp;
                    span.you exported &nbsp;
                    span to &nbsp;
                    span.noticed anywhere &nbsp;
                    span through &nbsp;
                    span.its widgets &nbsp;
                    span ... yes, you can &nbsp;
                    span.in
                        b embed &nbsp;
                    span any graph in any page

        div.hint
            p Use a spacebar or arrow keys to navigate

        script
            if ("ontouchstart" in document.documentElement)
                document.querySelector(".hint").innerHTML = "pTap on the left or right to navigate/p"

        script(src="/vendor/misc/impress.js")
        script
            impress().init()

