//- <div ng-controller="SignupController">
//-     <script type="text/ng-template" id="/accounts/signup">
//-         <div class="modal-header">
//-             <h3>Im a modal!</h3>
//-         </div>
//-         <div class="modal-body">
//-             <ul>
//-                 <li ng-repeat="item in items">
//-                     <a ng-click="selected.item = item">{{ item }}</a>
//-                 </li>
//-             </ul>
//-             Selected: <b>{{ selected.item }}</b>
//-         </div>
//-         <div class="modal-footer">
//-             <button class="btn btn-primary" ng-click="ok()">OK</button>
//-             <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
//-         </div>
//-     </script>

//-     <button class="btn btn-default" ng-click="open()">Open me!</button>
//-     <div ng-show="selected">Selection from a modal: {{ selected }}</div>
//- </div>
block content
    form(action="/accounts/signup", method="post")
        label Username:
        input(type="text", name="username")
        br
        label Password:
        input(type="password", name="password")
        br
        input(type="submit", value="Submit")