#navbar-grid {
	top: 50px;
}
#navbar-grid + .row {
	margin-top: 50px;
}
.pt6 {
	padding-top: 6px;
}
.pt14 {
	padding-top: 14px;
}
.mt8 {
	margin-top: 8px;
}
.ml7 {
	margin-left: 7px;
}
#badges .badge {
	margin-left: 7px;
	background-color: #8cc152;
	border-color: #8cc152;
	opacity: 0.5;
}
#badges .badge.active {
	opacity: 1;
}
.badges .badge {
	opacity: 0.5;
}
.badges .badge.active {
	opacity: 1;
	background-color: #8cc152;
	border-color: #8cc152;
}
.check_col {
	cursor: pointer;
}

.colored {
	background-color: #DCFDB7;
}
.table-hover>tbody>tr:hover>td.colored {
	background-color: #BCD89D;
}