div.row(ng-controller="ODMainController")
    div.col-xs-12.col-md-offset-2.col-md-8
        h1(style="text-align: center;")= __('Use any data, simplify it and make a real-time API *')
        p(style="text-align: center; margin-bottom: 45px;")= __('* For now, only XLS format')
        div.alert.alert-info.parse-dialog
            div.input-group.input-group-lg
                input.form-control(type="text", placeholder="#{__('Insert an URL to parse')}", ng-model="parsefield")
                span.input-group-btn
                    button.btn.btn-primary.parse-btn(type="button", ng-click="parse()")= __('Feel the magic !!')
    div.clearfix
    div.col-xs-12(style="margin-top: 20px;")
        h4.text-center= __("Lastest API's added")
        hr
    div.col-xs-12
        div.row
            div(ng-repeat="api in apis | limitTo:3")
                div.col-md-4.col-xs-12
                    iframe(id="iframe_{{api._id}}", name="iframe_{{api._id}}", src="{{api.src}}", width="100%", height="600", frameborder="0", scrolling="no", style="margin-bottom: 10px")
